
h1 {
text-align: center; 
font-family: Arial, Helvetica, sans-serif;
padding-bottom: 3%;
background-color:firebrick;
    
}

h2 { 
text-align: center; 
font-family: Arial, Helvetica, sans-serif;
background-color: blueviolet;

}


.HTML1 {
width: 32%;
padding: 5x;


}

.HTML2 {
width: 32%;
padding: 5x;


}

.HTML3 {
width: 32%;
padding: 5x;

}

h3 { 
width: 750px;
background-color: grey;

}

h2 { 
text-align: center; 
font-family: Arial, Helvetica, sans-serif;
background-color: blueviolet;

}

.ELEMENTS {
 display: block;
  margin: auto;
  width: 30%;
  border: 5px solid #555;


}


